<div class="category-page">
  <div class="category-content">
    <h1>Category</h1>
     <% @categories.each do |category| %>
    <%= category.name %>
    <%= image_tag category.icon %>
    <% end %>
  </div>
</div>