<div>
  <div>
    <div>
      <h3><%= activity.name %></h3>
      <small><%= activity.created_at.strftime("%d %b %Y") %></small>
    </div>
    <em>
      $<%= activity.amount%>
    </em>
  </div>
</div>