<div class="new-category-page">
  <h1>New Transaction </h1>
  <%= render "form", activity: @activity %>
  <br>

  <div>
    <%= link_to "Back to category", categories_path, class: "link-btn" %>
  </div>
</div>